*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.body{
    background-image:url(../assets/img/fondo.png);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.header{
    background-color: #0e2b6f;
    opacity: 0.85;
    font-size: 30px;
    padding: 30px;
    margin-bottom: 15px;
    color: #f3b229;
    animation-name: headerAparicion;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    position: relative
}
@keyframes headerAparicion {
    0%{
        top: -200;
    }
    50%{
        top: -100px;
    }
    75%{
        top: -75px
    }
    100%{
        top: 0px;
    }
}

.nav{
    list-style: none;
    padding: 0;
    background-color: #0e2b6f;
    opacity: 0.85;
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: left;
    animation-name: navAparicion;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    position: relative
}
@keyframes navAparicion {
    0%{
        left: -200;
    }
    50%{
        left: -100px;
    }
    75%{
        left: -75px
    }
    100%{
        left: 0px;
    }
}
.div__data{
    margin-top: 30px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 30px;
    background-color: #0e2b6f;
    opacity: 0.85;
    color: #f3b229;
    padding: 5px;
    line-height: 25px;
    animation-name: divAparicion;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    position: relative
}
@keyframes divAparicion {
    0%{
        right: -200;
    }
    50%{
        right: -100px;
    }
    75%{
        right: -75px
    }
    100%{
        right: 0px;
    }
}
.div__dataItems{
    margin-left: 8px;
    font-size: 27px;
    font-style:italic;
    text-decoration: underline;
}
.div__dataItems--espacio{
    padding-top: 70px;
}
.div__dataSubitems{
    margin-left: 20px;
    font-size: 20px;
    margin-top: 8px;
}
.div__dataSubsubitems{
    margin-left: 45px;
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 20px;
}
.article{
    background-color: #0e2b6f;
    opacity: 0.85;
    margin-top: 20px;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
    animation-name: articleAparicion;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    position: relative
}
@keyframes articleAparicion {
    0%{
        right: -200;
    }
    50%{
        right: -100px;
    }
    75%{
        right: -75px
    }
    100%{
        right: 0px;
    }
}
.article__titulo{
    color: #f3b229;
    font-size: 28px;
    margin-bottom: 15px;
    font-style: italic;
    text-decoration: underline;
}
.article__video{
    padding: 20px;
}
.article__foto{
    padding: 15px;
    border-radius: 30px;
}
.parrafo{
    background-color: #0e2b6f;
    opacity: 0.85;
    color: #f3b229;
    padding: 12px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    font-size: 22px;
    font-style: italic;
    text-indent: 20px;
    word-spacing: 6px;
    animation-name: parrafoAparicion;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    position: relative
}
@keyframes parrafoAparicion {
    0%{
        right: -200;
    }
    50%{
        right: -100px;
    }
    75%{
        right: -75px
    }
    100%{
        right: 0px;
    }
}
.parrafo__abajo--espacio{
    margin-bottom: 70px;
}
.parafo__arriba--espacio{
    margin-top: 60px;
}
.body__index{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 10%);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-image:url(../assets/img/fondo-index.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment:scroll;
}
.header__index{
    grid-column-start: 1;
    grid-column-end: 4;
    color:#252c51;
    font-size: 50px;
    text-decoration: underline;
    margin-bottom: 30px;
    animation-name: headerIndexAparicion;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    position: relative
}
@keyframes headerIndexAparicion {
    0%{
        top: -200;
    }
    50%{
        top: -100px;
    }
    75%{
        top: -75px
    }
    100%{
        top: 0px;
    }
}
.nav__index{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    list-style: none;
    padding: 0;
    opacity: 0.85;
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: left;
    margin-top: 25px;
    animation-name: navIndexAparicion;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    position: relative
}
@keyframes navIndexAparicion {
    0%{
        left: -200;
    }
    50%{
        left: -100px;
    }
    75%{
        left: -75px
    }
    100%{
        left: 0px;
    }
}
.nav__itemIndex{
    display: inline-block;
    margin-right: 15px;
}
.menu__indexVinculo{
    text-decoration: none;
    color: #252c51;
    padding: 10px;
    display: block;
    font-size: 23px;
}
.index__imgPosicion{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.index__img{
    width: 400px;
    height: 300px;
    border-radius: 250px;
    animation-name: imgIndexAparicion;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    position: relative
}
@keyframes imgIndexAparicion {
    0%{
        right: -200;
    }
    50%{
        right: -100px;
    }
    75%{
        right: -75px
    }
    100%{
        right: 0px;
    }
}
.index__textoPosicion{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
    animation-name: textoIndexAparicion;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    position: relative
}
@keyframes textoIndexAparicion {
    0%{
        right: -200;
    }
    50%{
        right: -100px;
    }
    75%{
        right: -75px
    }
    100%{
        right: 0px;
    }
}
.index__textoDeFoto{
    margin: 20px;
    text-align: center;
    color:#f3b229 ;
    font-size: 22px;
    font-weight: 20px;
}
.footer__index{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 12;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 15px;
    background-color: #0e2b6f;
    color: #f3b229;
    font-style: italic;
    display: block;
    animation-name: footerIndexAparicion;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    position: relative
}
@keyframes footerIndexAparicion {
    0%{
        bottom: -200;
    }
    50%{
        bottom: -100px;
    }
    75%{
        bottom: -75px
    }
    100%{
        bottom: 0px;
    }
}
.header__goles{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 1 / 2;
    background-color: #0e2b6f;
    opacity: 0.85;
    font-size: 30px;
    padding: 5px;
    color: #f3b229;
    animation-name: headerGolesAparicion;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    position: relative
}
@keyframes headerGolesAparicion {
    0%{
        top: -200;
    }
    50%{
        top: -100px;
    }
    75%{
        top: -75px
    }
    100%{
        top: 0px;
    }
}
.body__goles{
    display: grid;
    grid-row-gap: 8px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: repeat(40 ,2.5%);
    background-image:url(../assets/img/fondo.png);
    background-size: 100% 100%;
    background-attachment: fixed;
}


.nav__goles{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    list-style: none;
    background-color: #0e2b6f;
    opacity: 0.85;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    animation-name: navGolesAparicion;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    position: relative
}
@keyframes navGolesAparicion {
    0%{
        left: -200;
    }
    50%{
        left: -100px;
    }
    75%{
        left: -75px
    }
    100%{
        left: 0px;
    }
}
.nav__item{
    display: inline-block;
    margin-right: 15px;
}
.Menu__itemVinculo{
    text-decoration: none;
    color: #f3b229;
    padding: 15px;
    display: block;
}
.section__tablaSeleccion{
    grid-area: 30 / 1 / 36 / 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    background-color: #0e2b6f;
    opacity: 0.85;
    margin: 15px;
    color: #f3b229;
    padding: 10px;
    animation-name: tablaAparicion;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    position: relative
}

.section__tablaClub{
    grid-area: 4 / 1 / 30 / 6;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0e2b6f;
    opacity: 0.85;
    margin: 15px;
    padding: 10px;
    color: #f3b229;
    padding: 10px;
    animation-name: tablaAparicion;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    position: relative
}
@keyframes tablaAparicion {
    0%{
        right: -200;
    }
    50%{
        right: -100px;
    }
    75%{
        right: -75px
    }
    100%{
        right: 0px;
    }
}
.section__titulo{
    padding: 0px;
    font-size: 32px;
    margin-bottom: 30px;
    text-decoration: underline;
}
.section__tabla{
    width: 98%;
    height: auto;
    margin: 15px;
    font-size: 18px;
    font-style:oblique;
    text-align: center;
}
.section__tablaDescripcion{
    font-size: 25px;
    font-style: italic;
    text-decoration: underline;
    padding: 20px;
}
.footer{
    grid-area: 36 / 1 / 40 / 6;
    padding: 10px;
    margin: 15px;
    background-color: #0e2b6f;
    opacity: 0.85;
    color: #f3b229;
    font-style: italic;
    display: block;
    animation-name: footerAparicion;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    position: relative
}
@keyframes footerAparicion {
    0%{
        bottom: -200;
    }
    50%{
        bottom: -100px;
    }
    75%{
        bottom: -75px
    }
    100%{
        bottom: 0px;
    }
}
.footer__titulo{
    font-size: 22px;
    text-decoration: underline;
    margin-bottom: 10px;
}
.footer__mail{
    margin-left: 8px;
    display: inline-block;
}
.footer__mailInput{
    margin-left: 8px;
    width: 220px;
    display:inline-block;
}
.footer__paises{
    display:inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 8px;
}
.footer__paisesMenu{
    background-color: #0e2b6f;
    margin: 0px;
    
}
.footer__textarea{
    display: block;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 8px;
    width: 250px;
    background-color: transparent;
    color: #f3b229;
}
.footer__botones{
    display: block;
    margin-left: 8px;
    margin-top: 8px;
}
.footer__vinculoArriba{
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #f3b229;
    padding-left: 4px; 
}
.footer__vinculoInicio{
    text-decoration: none;
    display: inline-block;
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #f3b229;
    padding-left: 5px;
}
.footer__vinculoPosicion{
    text-align: right;
    padding-right: 10px;
}

@media screen and (max-width: 768px) {
    .body__index {
        background:url(../assets/img/ipad-fondo.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        height:900px;
    }
    .header__index{
        font-size: 28px;
        padding: 10px;
    }
    .nav__index{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        grid-area: 2 / 1 / 3 / 4;
        margin-top: 10px;
    }
    .menu__indexVinculo{
        font-size: 20px;
    }
    .index__imgPosicion{
        grid-area: 3 / 2 / 6 / 3;
    }
    .index__img{
        height: 80%;
        width: 350px;
    }
    .index__textoPosicion{
        grid-area: 6 / 2 / 7 / 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .index__textoDeFoto{
        font-size: 18px;
        margin: 5px;
    }
    .footer__index{
        grid-area: 8 / 1 / 11 / 4;
        margin: 0px;
    }
    .footer__titulo{
        font-size: 20px;
    }
    .footer__textarea{
        height: 100px;
        width: 300px;
    }
    .footer__vinculoArriba{
        display: none;
    }
}